<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Translatron 3000</title>
  </head>
  <body>

    <div class="Main Header">
      <h1>Welcome to Translatron 3000</h1>
      <!-- Need to add other languages on main page to transition, not MVP -->
    </div>

    <div class="languageContainer" ui-sref='Danish'>Danish</div>
    <div class="languageContainer" ui-sref='German'>German</div>
    <div class="languageContainer" ui-sref='Korean'>Korean</div>
    <div class="languageContainer" ui-sref='Nepali'>Nepali</div>
    <div class="languageContainer" ui-sref='Spanish'>Spanish</div>




  </body>
</html>
